
doctype html
html
  head
    title สมศรีมีเสื้อ – เกี่ยวกับเรา
    meta(charset='utf-8')
    meta(name='keywords', content='สมศรี,สมศรีมีเสื้อ,รับผลิตเสื้อยืด,รับผลิตเสื้อ,สกรีนเสื้อ,ทำเสื้อ,เสื้อพนักงาน,เสื้อค่าย,เสื้อกิจกรรม,เสื้อโปโล,รับทำเสื้อโปโล,รับผลิตเสื้อโปโล,ผลิตเสื้อโปโล,ออกแบบเสื้อโปโล,โรงงานเสื้อโปโล,ผลิตเสื้อยืด,ออกแบบเสื้อยืด,โรงงานเสื้อยืด,โรงงานสกรีนเสื้อ,สกรีนเสื้อ ราคาถูก')
    meta(name='description', content='รับผลิตเสื้อยืด เสื้อโปโล สกรีนเสื้อ ปักเสื้อ ราคาย่อมเยา ไม่แพง พร้อมรับประกันคุณภาพและความพึงพอใจ')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='im/som-logo.ico')
    // fb
    meta(property='og:description', content='รับผลิตเสื้อยืด เสื้อโปโล สกรีนเสื้อ ปักเสื้อ ราคาย่อมเยา ไม่แพง พร้อมรับประกันคุณภาพและความพึงพอใจ')
    meta(property='og:title', content='สมศรีมีเสื้อ - รับผลิตเสื้อยืด เสื้อโปโล  สกรีนเสื้อ ปักเสื้อ')
    meta(property='og:image', content='http://somsritshirt.com/im/som_sb2.jpg')
    // external library (jquery, vue, bootstrap and ...)
    script(src='js/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js')
    // pace.js : loading progress bar
    script(src='js/pace/pace.min.js')
    link(rel='stylesheet', href='js/pace/pace-theme-flash.css')
    link(rel='stylesheet', href='css/fade.css')
    // css
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/style_tgm.css')
    // togglem
    // me
    meta(name='viewport', type='image/x-icon', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css', href='css/style_edut.css')
    link(rel='stylesheet', type='text/css', href='css/style_about.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='css/Prompt.css')
    script(src='js/shared.js')
    link(rel='stylesheet', href='css/shared.css')
  body
    include component/topmenu.pug
    .wappp
      .breadcrumb-wapp.clearfix
        a(href='index.html')
          span.bt1.left หน้าแรก
        span.bt1.left  > 
        //
          <a href="Blogs.html">
          <span class="bt1 left">บล็อก</span>
          </a>
          <span class="bt1 left">&nbsp;>&nbsp;</span>
        a(href='about')
          span.bt1.abt1.left เกี่ยวกับเรา
      // breadcrumb-wapp
      .hr
        hr.hr1
      // hr
      .toppig
        span.toptext เกี่ยวกับเรา
      // toppig
      .bodypanel
        .imgpos
          img.aboutimg(src='im/16410work_170315.gif')
        p(style='text-align:justify; text-indent: 2em;')
          | สมศรี สาวต่างจังหวัดที่มีรสนิยม เข้ามาทำงานในกรุงเทพเป็นสาวโรงงาน รับเย็บผ้า แต่ด้วยความที่เธอมีความฝัน อยากทำเสื้อผ้าในสไตล์ของตนเอง และยึดมั่นในคุณภาพ แต่ไม่ว่าเธอจะไปทำงานที่โรงงานไหนๆ เธอก็กลับถูกต่อว่า และถูกจำกัดขอบเขตให้เป็นแบบที่เจ้านายต้องการ สุดท้ายเพื่อทำตามความฝัน เธอจึงตัดสินใจเก็บเงินซักก้อน เพื่อที่จะมาทำโรงงานเป็นของตนเอง โดยยึดมั่นในคุณภาพและราคาที่สมเหตุสมผล ไม่ฟาดฟันลูกค้าจนเกินตัว โดยมีกลุ่มเป้าหมายสำหรับลูกค้าในยุคปัจจุบันที่ฉลาดเลือกรู้จักเปรียบเทียบและเลือกสิ่งที่ดีที่สุดให้กับตนเอง จนในวันนี้ สมศรีได้ทำตามความฝันของเธอสำเร็จแล้ว หวังว่าทุกๆคนจะเป็นกำลังใจให้ สมศรีโดยการอุดหนุนร้านสมศรีกันเยอะๆนะคะ ☺
      .toppig.next
        span.toptext เราทำอะไร?
      .bodypanel.noflexrow
        .imgpos
          img.aboutimg(src='im/aboutwhat.jpg')
        p(style='text-align:justify; text-indent: 2em;')
          | สมศรี เป็นโรงงาน ผลิต สกรีน และรับออกแบบ เสื้อยืด เสื้อโปโล โดยมีเนื้อผ้าให้ลูกค้าเลือกหลากหลาย และออกแบบลายได้แปลกใหม่ไม่ซ้ำใคร โดยมีทีมงานออกแบบมืออาชีพมากมาย เพื่อตอบสนองความต้องการของลูกค้าค่ะ
      .toppig.next
        span.toptext เราแตกต่างจากโรงงานอื่นยังไง?
      .bodypanel.noflexrow
        .imgpos
          img.aboutimg(src='im/aboutdif.jpg')
        p(style='text-align:justify; text-indent: 2em;')
          | ถ้าถามว่าเราต่างกับร้านสกรีนเสื้อหรือร้านทำเสื้ออื่นๆอย่างไร คำตอบคือเราไม่ได้แตกต่าง แต่เสื้อที่คุณสั่งเสื้อกับสมศรีในวันนี้ จะดีกว่าเสื้อที่สั่งกับสมศรีเมื่อเดือนที่แล้ว เพราะสมศรีขอเลือกสรรสิ่งที่ดีที่สุด เพื่อคุณ โดยที่เราไม่ต้องไปแข่งกับใคร นอกจากตัวเราเอง
      .toppig.next
        span.toptext สโลแกน
      .bodypanel.noflexrow
        p(style='text-align:justify; text-indent: 2em;')
          | สวมใส่เรื่องราวดีดีในทุกวันของคุณ
          | Put on your every story
      .toppig.next
        span.toptext วิสัยทัศน์ 
      .bodypanel.noflexrow
        p(style='text-align:justify; text-indent: 2em;')
          | ประเทศไทยจะมีโรงงานผลิตเสื้อระดับนานาชาติเพิ่มขึ้นอีก1โรงงานเพื่อผลิตสินค้าที่มีคุณภาพที่สุดถึงมือผู้บริโภค
      .toppig.next
        span.toptext เป้าหมาย
      .bodypanel.noflexrow
        p(style='text-align:justify; text-indent: 2em;')
          | ทำทุกวินาทีสำหรับลูกค้าให้ดีที่สุด ลูกค้าพร้อมจะบอกต่อและกลับมาใช้บริการเราอีกครั้ง โดยมอบสิ่งที่ดีที่สุดที่ลูกค้าควรค่า
    script#dbd-init(src='https://www.trustmarkthai.com/callbackData/initialize.js?t=b5cb10-32-5-30bf4b08f846172a35a5ff39a433191e01d2f99')
    #Certificate-banners(style='text-align:center;')
    footer
      | Tel. 
      font(color='white') 063-421-6521
      |   | lineID: 
      a(target='_blank', href='https://line.me/R/ti/p/%40diz8986o')
        font(color='white') @somsritshirt
      |   | FB: 
      a(target='_blank', href='https://www.facebook.com/somsritshirt/?__mref=message_bubble')
        font(color='white') สมศรีมีเสื้อ
    .scroll_top
      .scroll_top_icon
