doctype html
html
  head
    title สมศรีมีเสื้อ - ติดต่อสมศรี
    meta(charset='utf-8')
    meta(name='keywords', content='สมศรี,สมศรีมีเสื้อ,รับผลิตเสื้อยืด,รับผลิตเสื้อ,สกรีนเสื้อ,ทำเสื้อ,เสื้อพนักงาน,เสื้อค่าย,เสื้อกิจกรรม,เสื้อโปโล,รับทำเสื้อโปโล,รับผลิตเสื้อโปโล,ผลิตเสื้อโปโล,ออกแบบเสื้อโปโล,โรงงานเสื้อโปโล,ผลิตเสื้อยืด,ออกแบบเสื้อยืด,โรงงานเสื้อยืด,โรงงานสกรีนเสื้อ,สกรีนเสื้อ ราคาถูก')
    meta(name='description', content='รับผลิตเสื้อยืด เสื้อโปโล สกรีนเสื้อ ปักเสื้อ ราคาย่อมเยา ไม่แพง พร้อมรับประกันคุณภาพและความพึงพอใจ')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='im/som-logo.ico')
    // fb
    meta(property='og:description', content='รับผลิตเสื้อยืด เสื้อโปโล สกรีนเสื้อ ปักเสื้อ ราคาย่อมเยา ไม่แพง พร้อมรับประกันคุณภาพและความพึงพอใจ')
    meta(property='og:title', content='สมศรีมีเสื้อ - รับผลิตเสื้อยืด เสื้อโปโล  สกรีนเสื้อ ปักเสื้อ')
    meta(property='og:image', content='http://somsritshirt.com/im/som_sb2.jpg')
    // external library (jquery, vue, bootstrap and ...)
    script(src='js/jquery.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js')
    // pace.js : loading progress bar
    script(src='js/pace/pace.min.js')
    link(rel='stylesheet', href='js/pace/pace-theme-flash.css')
    link(rel='stylesheet', href='css/fade.css')
    // css
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/style_tgm.css')
    // togglem
    // me
    meta(name='viewport', type='image/x-icon', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/reset.css')
    link(rel='stylesheet', type='text/css', href='css/style_contact.css')
    link(rel='stylesheet', type='text/css', href='css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='css/Prompt.css')
    script(src='js/shared.js')
    link(rel='stylesheet', href='css/shared.css')
  body
    include component/topmenu.pug
    .wappp
      .breadcrumb-wapp.clearfix
        a(href='index.html')
          span.bt1.left หน้าแรก
        span.bt1.left  > 
        a(href='contact')
          span.bt1.abt1.left ติดต่อสมศรี
      // breadcrumb-wapp
      .hr
        hr.hr1
      // hr
      .contact
        // <img src="im/IMG_3847.jpg" width="100%">
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15504.318621870141!2d100.3522971!3d13.7136253!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedd30212531df4be!2z4Liq4Lih4Lio4Lij4Li14Lih4Li14LmA4Liq4Li34LmJ4Lit!5e0!3m2!1sth!2sth!4v1520307071298', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
        .contacttext
          .contacttext_left
            b Address
            br
            |                         1044/61 ถนนเพชรเกษม 106
            br
            |                         หนองค้างพลู หนองแขม กทม. 10160
            br
            b Tel
            |  063-421-6521
            br
          .contacttext_right(style='')
            b Line
            a(target='_blank', href='https://line.me/R/ti/p/%40diz8986o') @somsritshirt
            br
            b Facebook
            a(target='_blank', href='https://www.facebook.com/somsritshirt/?__mref=message_bubble') @somsritshirt
        iframe#gform(src='https://docs.google.com/forms/d/e/1FAIpQLSex5jcAryV_5sd6WAKa7jdPN7AIXSGbtsWglgyNEf5W-SHRJw/viewform?embedded=true', height='500', frameborder='0', marginheight='0', marginwidth='0') กำลังโหลด...
    script#dbd-init(src='https://www.trustmarkthai.com/callbackData/initialize.js?t=b5cb10-32-5-30bf4b08f846172a35a5ff39a433191e01d2f99')
    #Certificate-banners(style='text-align:center;')
    footer
      | Copyright © 2017 Somsri T-shirt All Right Reserved.
      | Tel. 
      font(color='white') 063-421-6521
      |   | lineID: 
      a(target='_blank', href='https://line.me/R/ti/p/%40diz8986o')
        font(color='white') @somsritshirt
      |   | FB: 
      a(target='_blank', href='https://www.facebook.com/somsritshirt/?__mref=message_bubble')
        font(color='white') สมศรีมีเสื้อ
    .scroll_top
      .scroll_top_icon
