<!doctype html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="../js/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
  <script src="../js/tinymce/js/tinymce/vue/tinymce-vue.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../js/tinymce/js/tinymce/themes/modern/theme.min.js">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <style>
    .control-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #editmodal hr {
      border-color: black;
    }

    body {
      padding: 10px;
    }

    .btnpreview {
      width: 100%;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.5s background;
    }

    .fbpreview {
      width: 100%;
      padding-top: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .artworkpreview {
      width: 100%;
      height: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .mce-notification-warning {
      display: none;
    }

    .form-control-inline {
      display: inline;
      width: 200px;
    }

    .select2-dropdown {
      background-color: cornsilk;
    }

    .picrow-con .form-group {
      padding: 10px;
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <div id="vue-wrap">
    <h2>User ที่แก้ไขข้อมูลได้</h2>
    <button class="btn btn-success" onclick="doadd();">Add</button>
    <!--<div class="dropdown d-inline-block">
      <button class="btn btn-primary dropdown-toggle" type="button" id="sortbybtn" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" :href="updateQueryStringParameter('sortby','created')">วันที่สร้าง</a>
        <a class="dropdown-item" :href="updateQueryStringParameter('sortby','due')">กำหนดส่งงาน</a>
        <a class="dropdown-item" :href="updateQueryStringParameter('sortby','id')">ID</a>
      </div>
    </div>-->
    <ul id="control-wrap" class="list-group">
      <li class="control-child list-group-item" v-for="(val,i) in quotdata">
        <div>
          <b>Email:</b> {{val.id}}
          <!--<br>
          <b>กำหนดส่งงาน:</b> {{formatdate(val.due)}}
          <br>
          <b>วันที่สร้าง:</b> {{formatdate(val.created)}}
          <br>
          <b>ชื่อ:</b> {{val.name}}-->
        </div>
        <div>
          <!--<button :class="['btn',(val.approve?'btn-success':'btn-secondary')]" v-on:click="doapprove(i)">{{val.approve?'อนุมัติ':'รอการอนุมัติ'}}</button>
          <button class="btn btn-success" v-on:click="doshow(i)">แสดง</button>
          <button class="btn btn-primary" v-on:click="doedit(i)">แก้ไข</button>-->
          <button class="btn btn-danger" v-on:click="dodelete2(i)">ลบ</button>
        </div>
      </li>
    </ul>
  </div>

  <div id="vue-editmodal">
    <div class="modal" tabindex="-1" role="dialog" id="editmodal" data-backdrop="static">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{quotdata[curr].id}}</h5>
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>-->
            <button type="button" class="btn btn-secondary edit-footer-btn" data-dismiss="modal" onclick="edit_exit()">ปิด (ไม่เปลี่ยนข้อมูลกลับ)</button>
          </div>
          <div class="modal-body" style="background-color:rgb(217,217,217);">
            <div class="form-group">
              โปรเจค
              <input type="text" class="form-control" id="edit-topic" v-model="quotdata[curr].name">
            </div>
            <div class="form-group">
              รูปอาร์ทเวิร์ค
              <div style="text-align:center; width:100%;">
                <img class="artworkpreview" :src="quotdata[curr].img" :style="{width:quotdata[curr].imgsize+'%'}">
              </div>
              <input type="file" class="form-control" :id="'edit-awimg'" accept="image/*">
            </div>
            <div class="form-group">
              ขนาดรูปอาร์ทเวิร์ค (%)
              <input type="number" class="form-control" id="edit-awimg-size" v-model="quotdata[curr].imgsize">
            </div>
            <div class="form-group">
              กำหนดส่งงาน
              <input type="date" class="form-control" id="edit-due" v-model="quotdata[curr].due">
            </div>
            <div class="form-group">
              ชนิดเสื้อ
              <select id="edit-type" class="form-control" onchange="quotdata[vm_edit.curr].type = event.target.value; refresh_select2()"
                :value="quotdata[curr].type">
                <option>เสื้อยืด</option>
                <option>เสื้อโปโล</option>
                <option>{{quotdata[curr].type}}</option>
              </select>
            </div>
            <hr>
            <!--
                                quotdata[curr].data[0] -> งานตัดและเย็บ
                                quotdata[curr].data[1] -> งานสกรีน
                                quotdata[curr].data[2] -> งานปัก
                            -->
            <div class="form-group">
              <input type="checkbox" id="edit-0-enable" v-model="quotdata[curr].data[0].enable" onchange="refresh_select2()"> งานตัดและเย็บ
            </div>
            <span id="edit-0-group" v-if="quotdata[curr].data[0].enable">
              <div class="form-group">
                ป้ายแสดงขนาดเสื้อ
                <select id="edit-0-size_label" class="form-control" onchange="quotdata[vm_edit.curr].data[0].size_label = event.target.value;"
                  :value="quotdata[curr].data[0].size_label">
                  <option>สมศรีมีเสื้อ</option>
                  <option>ป้ายไซต์อย่างเดียว</option>
                  <option>{{quotdata[curr].data[0].size_label}}</option>
                </select>
              </div>
              <div class="form-group">
                ไซต์เสื้อ
                <textarea id="edit-0-size" class="form-control" v-model="quotdata[curr].data[0].size" style="height:250px;"></textarea>
              </div>
              <div class="form-group">
                แขนเสื้อ
                <select id="edit-0-sleeve" class="form-control" onchange="quotdata[vm_edit.curr].data[0].sleeve = event.target.value;" :value="quotdata[curr].data[0].sleeve">
                  <option>แขนสั้นปล่อย</option>
                  <option>แขนสั้นจั้มแขน</option>
                  <option>แขนสั้นเบิ้ล</option>
                  <option>แขนยาวปล่อย</option>
                  <option>แขนยาวจั้มแขน</option>
                  <option>กุ๋นแขน</option>
                  <option>จั้มครึ่ง</option>
                  <option>{{quotdata[curr].data[0].sleeve}}</option>
                </select>
              </div>
              <div class="form-group">
                ลักษณะการเย็บ
                <select id="edit-0-style" class="form-control" onchange="quotdata[vm_edit.curr].data[0].style = event.target.value;" :value="quotdata[curr].data[0].style">
                  <option>ตามรูปแบบมาตรฐาน</option>
                  <option>คิ้วแขน</option>
                  <option>{{quotdata[curr].data[0].style}}</option>
                </select>
              </div>
              <div class="form-group">
                สีเสื้อ
                <input type="text" id="edit-0-color" class="form-control" v-model="quotdata[curr].data[0].color">
              </div>
              <div class="form-group">
                คอเสื้อ
                <select id="edit-0-collar" class="form-control" onchange="quotdata[vm_edit.curr].data[0].collar = event.target.value;" :value="quotdata[curr].data[0].collar">
                  <option v-if="quotdata[curr].type.indexOf('เสื้อยืด')!=-1">คอกลม</option>
                  <option v-if="quotdata[curr].type.indexOf('เสื้อยืด')!=-1">คอวี</option>
                  <option v-if="quotdata[curr].type.indexOf('เสื้อโปโล')!=-1">ทอตามสีเสื้อ</option>
                  <option v-if="quotdata[curr].type.indexOf('เสื้อโปโล')!=-1">ทอลายพิเศษ</option>
                  <option v-if="quotdata[curr].type.indexOf('เสื้อโปโล')!=-1">ทอแจ๊คการ์ด</option>
                  <option>{{quotdata[curr].data[0].collar}}</option>
                </select>
              </div>
              <div class="form-group">
                เนื้อผ้า
                <select id="edit-0-fabric" class="form-control" onchange="quotdata[vm_edit.curr].data[0].fabric = event.target.value;" :value="quotdata[curr].data[0].fabric">
                  <option>Cotton 100%</option>
                  <option>cotton comb</option>
                  <option>supersoff</option>
                  <option>TC lacos</option>
                  <option>TC</option>
                  <option>TK</option>
                  <option>{{quotdata[curr].data[0].fabric}}</option>
                </select>
              </div>
              <div class="form-group">
                ขึ้นตัวอย่าง
                <select id="edit-0-example" class="form-control" onchange="quotdata[vm_edit.curr].data[0].example = event.target.value;"
                  :value="quotdata[curr].data[0].example">
                  <option>ขึ้นตัวอย่าง</option>
                  <option>-</option>
                  <option>{{quotdata[curr].data[0].example}}</option>
                </select>
              </div>
              <div class="form-group" v-if="quotdata[curr].type.indexOf('เสื้อโปโล')!=-1">
                สาบเสื้อ
                <select id="edit-0-placket" class="form-control" onchange="quotdata[vm_edit.curr].data[0].placket = event.target.value;"
                  :value="quotdata[curr].data[0].placket">
                  <option>สีเดียวกับเสื้อ</option>
                  <option>สาบแลป</option>
                  <option>โชว์สองสี</option>
                  <option>สาบซ่อน</option>
                  <option>คอวีจั้ม</option>
                  <option>{{quotdata[curr].data[0].placket}}</option>
                </select>
              </div>
              <div class="form-group" v-if="quotdata[curr].type.indexOf('เสื้อโปโล')!=-1">
                กระเป๋าเสื้อ
                <select id="edit-0-pocket" class="form-control" onchange="quotdata[vm_edit.curr].data[0].pocket = event.target.value;" :value="quotdata[curr].data[0].pocket">
                  <option>ไม่มี</option>
                  <option>มี</option>
                  <option>{{quotdata[curr].data[0].pocket}}</option>
                </select>
              </div>
              <div class="form-group" v-if="quotdata[curr].type.indexOf('เสื้อโปโล')!=-1">
                กระดุม
                <input type="number" id="edit-0-button" class="form-control form-control-inline" v-model="quotdata[curr].data[0].button"> เม็ด
              </div>
              <div class="form-group">
                ลักษณะเสื้อเพิ่มเติม
                <textarea id="edit-0-moreinfo" class="form-control" v-model="quotdata[curr].data[0].moreinfo"></textarea>
              </div>
              <div class="form-group">
                จำนวน
                <textarea id="edit-0-amount" class="form-control" v-model="quotdata[curr].data[0].amount" style="height:250px"></textarea>
              </div>
              <div class="picrow-con" id="edit-0-picrow" v-if="quotdata[curr].data[0].picrow">
                <div class="form-group" v-for="(picrow,i) in quotdata[curr].data[0].picrow">
                  <div style="display:flex">
                    <div style="text-align:center; flex-basis:50%;">
                      <img class="picrowpreview" :src="picrow.img" :style="{width:picrow.imgsize+'%'}">
                    </div>
                    <textarea id="edit-0-picrow-text" class="form-control" v-model="picrow.text" style="flex-basis:50%;"></textarea>
                  </div>
                  ไฟล์ภาพ
                  <input type="file" class="form-control" :id="'edit-0-picrow-img-'+i" accept="image/*"> ขนาดรูป (%)
                  <input type="number" class="form-control" id="edit-awimg-size" v-model="picrow.imgsize">
                  <button class="btn btn-danger" @click="quotdata[curr].data[0].picrow.splice(i,1)">ลบ</button>
                </div>
              </div>
              <button class="btn btn-success" @click="
									if (quotdata[curr].data[0].picrow) quotdata[curr].data[0].picrow.push({img:'',text:'',imgsize:75});
									else { alert('กดปุ่ม บันทึก ด้านล่างเพื่ออัพเดทข้อมูลเป็น version ล่าสุดก่อน ถึงจะใช้งานได้'); }
								">เพิ่มช่องรูปภาพ</button>
            </span>

            <hr>

            <div class="form-group">
              <input type="checkbox" id="edit-1-enable" v-model="quotdata[curr].data[1].enable" onchange="refresh_select2()"> งานสกรีน
            </div>
            <span id="edit-1-group" v-if="quotdata[curr].data[1].enable">
              <div class="form-group">
                ตำแหน่งสกรีน
                <input type="text" id="edit-1-position" class="form-control" v-model="quotdata[curr].data[1].position">
              </div>
              <div class="form-group">
                ขนาดสกรีน
                <input type="text" id="edit-1-size" class="form-control" v-model="quotdata[curr].data[1].size">
              </div>
              <div class="form-group">
                ระยะห่างจากคอเสื้อถึงตัวงาน
                <select id="edit-1-distance" class="form-control" onchange="quotdata[vm_edit.curr].data[1].distance = event.target.value;"
                  :value="quotdata[curr].data[1].distance">
                  <option>ปรับตามขนาดเสื้อให้</option>
                  <option>มาตรฐาน</option>
                  <option value="custom_cm">... cm</option>
                  <option>{{quotdata[curr].data[1].distance}}</option>
                </select>
                <template v-if="quotdata[vm_edit.curr].data[1].distance == 'custom_cm'">
                  <input type="number" id="edit-1-distance-cm" class="form-control form-control-inline mt-2" v-model="quotdata[vm_edit.curr].data[1].distance_cm"> cm
                </template>
              </div>
              <div class="form-group">
                ชนิดงานสกรีน
                <select id="edit-1-type" class="form-control" onchange="quotdata[vm_edit.curr].data[1].type = event.target.value;" :value="quotdata[curr].data[1].type">
                  <option>งานพิมพ์</option>
                  <option>สียาง</option>
                  <option>สีพลาสติซอล</option>
                  <option>สีน้ำ</option>
                  <option>{{quotdata[curr].data[1].type}}</option>
                </select>
              </div>
              <div class="form-group">
                สีสกรีน
                <input type="text" id="edit-1-color" class="form-control" v-model="quotdata[curr].data[1].color">
              </div>
              <div class="form-group">
                ไฟล์เสื้อ
                <select id="edit-1-file" class="form-control" onchange="quotdata[vm_edit.curr].data[1].file = event.target.value;" :value="quotdata[curr].data[1].file">
                  <option>อ้างอิงตามลูกค้า</option>
                  <option>ดราฟใหม่</option>
                  <option>{{quotdata[curr].data[1].file}}</option>
                </select>
              </div>
            </span>

            <hr>

            <div class="form-group">
              <input type="checkbox" id="edit-2-enable" v-model="quotdata[curr].data[2].enable" onchange="refresh_select2()"> งานปัก
            </div>
            <span id="edit-2-group" v-if="quotdata[curr].data[2].enable">
              <div class="form-group">
                ขนาด (ความกว้าง)
                <input type="text" id="edit-2-size" class="form-control" v-model="quotdata[curr].data[2].size">
              </div>
              <div class="form-group">
                ตำแหน่งปัก
                <input type="text" id="edit-2-position" class="form-control" v-model="quotdata[curr].data[2].position">
              </div>
              <div class="form-group">
                ไฟล์เสื้อ
                <select id="edit-2-file" class="form-control" onchange="quotdata[vm_edit.curr].data[2].file = event.target.value;" :value="quotdata[curr].data[2].file">
                  <option>อ้างอิงตามลูกค้า</option>
                  <option>ดราฟใหม่</option>
                  <option>{{quotdata[curr].data[2].file}}</option>
                </select>
              </div>
              <div class="form-group">
                ระยะห่างจากคอเสื้อถึงตัวงาน
                <select id="edit-2-distance" class="form-control" onchange="quotdata[vm_edit.curr].data[2].distance = event.target.value;"
                  :value="quotdata[curr].data[2].distance">
                  <option>ปรับตามขนาดเสื้อให้</option>
                  <option>มาตราฐาน</option>
                  <option value="custom_cm">... cm</option>
                  <option>{{quotdata[curr].data[2].distance}}</option>
                </select>
                <template v-if="quotdata[vm_edit.curr].data[2].distance == 'custom_cm'">
                  <input type="number" id="edit-2-distance-cm" class="form-control form-control-inline mt-2" v-model="quotdata[vm_edit.curr].data[2].distance_cm"> cm
                </template>
              </div>
            </span>

          </div>
          <div class="modal-footer">
            <button type="button" id="edit-submit-btn" class="btn btn-primary edit-footer-btn" onclick="edit_submit()">บันทึก</button>
            <button type="button" class="btn btn-danger edit-footer-btn" data-dismiss="modal" onclick="edit_cancel(); edit_exit();">ยกเลิก</button>
            <button type="button" class="btn btn-secondary edit-footer-btn" data-dismiss="modal" onclick="edit_exit()">ปิด (ไม่เปลี่ยนข้อมูลกลับ)</button>
            <button type="button" id="edit-unlock-btn" class="btn btn-primary edit-footer-btn" onclick="unlock_form()">ปลดล็อก</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="addmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" id="add-id" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="doadd2()" data-dismiss="modal">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div id="deletemodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ต้องการลบ ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ต้องการลบ
          <span id="delete-id"></span>
          <br> (
          <span id="delete-index"></span> )
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="dodelete(parseInt($('#delete-index').html()))" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCKxEYUtxMrevfSLSRHKUHc7gKTSKBZ-Vg",
      authDomain: "somsritshirt-ced49.firebaseapp.com",
      databaseURL: "https://somsritshirt-ced49.firebaseio.com",
      projectId: "somsritshirt-ced49",
      storageBucket: "somsritshirt-ced49.appspot.com",
      messagingSenderId: "99816736698"
    };
    firebase.initializeApp(config);

    var db = firebase.firestore();
    var storage = firebase.storage();
    var storageRef = storage.ref();
  </script>

  <script>
    //update db add field to all
    function updatedb_addfield(key, value) {
      db.collection("quotation").get().then(function (querySnapshot) {
        querySnapshot.forEach(function (doc) {
          var newdata = doc.data();
          newdata[key] = value;
          db.collection("quotation").doc(doc.id).set(newdata);
        });
      });
    }

    function updateQueryStringParameter(key, value) {
      var uri = window.location.href;
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }

    function formatdate(date) {
      if (!date) return "ไม่ได้ระบุไว้";
      date = new Date(date);
      month = ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"];
      return date.getDate() + " " + month[date.getMonth()] + " " + (date.getFullYear() + 543);
    }

    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function refresh_select2() {
      setTimeout(function () {
        $("select").select2({
          tags: true,
          dropdownParent: $("#editmodal").find(".modal-content")
        });
      }, 10);
    }

    var sortby = getParameterByName("sortby") || "created";

    var quotdata = [{ id: "", name: "", due: null, img: "", data: [{ type: "งานตัดและเย็บ" }] }];
    var quotbodybak = [];
    db.collection("users").get().then(function (querySnapshot) {
      querySnapshot.forEach(function (doc) {
        // doc.data() is never undefined for query doc snapshots
        console.log(doc.id, " => ", doc.data());
        quotdata.push(doc.data());
        quotdata[quotdata.length-1].id = doc.id;
      });
      quotdata.shift();
      vm_edit.$forceUpdate();
    });

    var vm = new Vue({
      el: '#vue-wrap',
      data: {
        quotdata: quotdata
      },
      methods: {
        doedit: function (index) {
          vm_edit.curr = index;
          $("#editmodal").modal('show');
          quotbodybak = JSON.parse(JSON.stringify(quotdata[vm_edit.curr]));
          setTimeout(function () {
            refresh_select2();
          }, 250);
          vm_edit.$forceUpdate();
        }
      }
    });

    //disable entry point make everything stop working
    /*var vm_edit = new Vue({
      el: '#vue-editmodal',
      data: {
        curr: 0
      },
      components: {
          'editor': Editor // <- Important part
      }
    });*/

    function edit_exit() {
      $("select").select2('destroy');
    }

    function edit_cancel() {
      var curr = vm_edit.curr;
      quotdata[curr] = quotbodybak;
      vm_edit.$forceUpdate();
    }

    function doapprove(i) {
      quotdata[i].approve = !quotdata[i].approve;
      db.collection("quotation").doc(quotdata[i].id).set(quotdata[i]).then(function () {
        //alert("แก้ไขการอนุมัติเรียบร้อย");
      }).catch(function (err) {
        alert("Approve error : " + JSON.stringify(err));
      });
    }

    function doshow(i) {
      window.open("/quotation/view?id=" + quotdata[i].id, "_blank");
    }

    function doadd2() {
      var id = $("#add-id").val().trim();
      var newdata = {
        id: id,
        email: id
      };
      db.collection("users").doc(id).set(newdata).then(function () {
        alert("Add Success");
        quotdata.unshift(newdata);
        //vm.doedit(0);
      }).catch(function (err) {
        alert("Add Error : " + JSON.stringify(err));
        console.log("Add Error");
        console.log(err);
      });
    }

    function doadd() {
      $("#addmodal").modal('show');
      $("#add-id").val("");
    }

    function dodelete2(index) {
      $("#deletemodal").modal('show');
      $("#delete-id").text(quotdata[index].id);
      $("#delete-index").text(index);
    }

    function dodelete(index) {
      db.collection("users").doc(quotdata[index].id).delete().then(function () {
        alert("Delete Success");
        quotdata.splice(index, 1);
      }).catch(function (err) {
        alert("Delete Error : " + JSON.stringify(err));
        console.log("Delete Error");
        console.log(err);
      });
    }

    function edit_submit() {
      var curr = vm_edit.curr;
      $("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled", true);

      var hasupdate = false;

      { //update version
        //update: add picrow
        if (!quotdata[curr].data[0].picrow) {
          quotdata[curr].data[0].picrow = [];
          hasupdate = true; //important
        }
      }

      var imgref = storageRef.child("quotation/im");
      var fileid = Date.now();

      var filefinishcount = 0;
      var filecount = 0;

      var awimgfile = $("#edit-awimg")[0].files[0];

      if (awimgfile) {
        filecount++;
        uploadimg(String(fileid - 3), awimgfile).then(function (url) {
          quotdata[curr].img = url;

          filefinishcount++;
          checkfilefinish();
        }).catch(function (err) {
          alert("Artwork Image error : " + JSON.stringify(err));
          console.log("Artwork Image error");
          console.log(err);
        });
      }

      for (let i = 0; i < quotdata[curr].data[0].picrow.length; i++) {
        let picrow_file = $("#edit-0-picrow-img-" + i)[0].files[0];
        if (picrow_file) {
          filecount++;
          uploadimg(String(fileid + (i + 1)), picrow_file).then(function (url) {
            quotdata[curr].data[0].picrow[i].img = url;

            filefinishcount++;
            checkfilefinish();
          }).catch(function (err) {
            alert("Picrow " + (i + 1) + " Image error : " + JSON.stringify(err));
            console.log("Picrow " + (i + 1) + " Image error");
            console.log(err);
          });
        }
      }

      function checkfilefinish() {
        if (filefinishcount == filecount) dofinal();
      }
      checkfilefinish();


      function dofinal() {
        db.collection("quotation").doc(quotdata[curr].id).set(quotdata[curr]).then(function () {
          alert("แก้ไขข้อมูลเรียบร้อย");
          if (hasupdate) {
            alert("อัพเดท version เรียบร้อย ระบบจะทำการ reload หน้าเว็บ");
            location.reload();
          }
          $("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled", false);
          $("#editmodal input[type=file]").val("");
        }).catch(function (err) {
          alert("Final Step Error : " + JSON.stringify(err));
          console.log("Final Step Error");
          console.log(err);
          $("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled", false);
          $("#editmodal input[type=file]").val("");
        });
      }
    }

    function uploadimg(filename, imgfile) {
      return new Promise(function (resolve, reject) {
        var imgref = storageRef.child("quotation/im");

        if (imgfile.type == "image/jpeg") {
          var fileref = imgref.child(filename + "_resize.jpg");
          fileref.put(imgfile).then(function (data) {
            //console.log(data);
            function dogeturl() {
              setTimeout(function () {
                var jpgref = imgref.child(filename + ".jpg");
                jpgref.getDownloadURL().then(resolve).catch(function (err) {
                  console.log("Get url error : ", err);
                  dogeturl();
                });
              }, 3000);
            }
            dogeturl();
          }).catch(reject);
        } else if (imgfile.type == "image/png") {
          var fileref = imgref.child(filename + "_resize.png");
          fileref.put(imgfile).then(function (data) {
            //console.log(data);
            function dogeturl() {
              setTimeout(function () {
                var jpgref = imgref.child(filename + ".jpg");
                jpgref.getDownloadURL().then(resolve).catch(function (err) {
                  console.log("Get url error : ", err);
                  dogeturl();
                });
              }, 3000);
            }
            dogeturl();
          }).catch(reject);
        } else {
          //alert("Image Error : "+imgfile.type+" Not supported");
          reject("Image Error : " + imgfile.type + " Not supported");
        }
      });
    }

    function unlock_form() {
      $("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled", false);
    }

    setInterval(function () {
      $("#edit-unlock-btn").prop("disabled", false);
    }, 500);
  </script>
</body>

</html>