<!doctype html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		
		<style>
			.control-child {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<div id="vue-wrap">
			<ul id="control-wrap" class="list-group">
				<li class="control-child list-group-item" v-for="(val,i) in blogdata">
					<div>
						{{val.id}} <br>
						{{val.data.topic}}
					</div>
					<div>
						<button class="btn btn-primary" v-on:click="doedit(i)">Edit</button>
					</div>
				</li>
			</ul>
		</div>
		
		<div id="vue-editmodal">
			<div class="modal" tabindex="-1" role="dialog" id="editmodal" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{blogdata[curr].id}}</h5>
							<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>-->
						</div>
						<div class="modal-body">
							<div class="form-group">
								หัวเรื่อง
								<input type="text" class="form-control" id="edit-topic" :value="blogdata[curr].data.topic">
							</div>
							<hr>
							<div class="form-group" v-for="(val,i) in blogdata[curr].data.body">
								# {{i}}
								<template v-if="val.type==0">
									<textarea class="form-control" :id="'edit-body-'+i" v-model="val.text"></textarea>
								</template>
								<template v-else-if="val.type==1">
									<img :src="val.src" width="100%">
									<input type="file" class="form-control" :id="'edit-body-'+i" accept="image/*">
								</template>
								<button class="btn btn-danger" style="margin-top:5px;" v-on:click="deletesingle(i)">ลบ</button>
								<button class="btn btn-secondary" style="margin-top:5px;" v-on:click="moveup(i)">ขึ้น</button>
								<button class="btn btn-secondary" style="margin-top:5px;" v-on:click="movedown(i)">ลง</button>
								<hr>
							</div>
							
							<button type="button" class="btn btn-primary" onclick="edit_addtext()">เพิ่มข้อความ</button>
							<button type="button" class="btn btn-success" onclick="edit_addimage()">เพิ่มรูปภาพ</button>
						</div>
						<div class="modal-footer">
							<button type="button" id="edit-submit-btn" class="btn btn-primary edit-footer-btn" onclick="edit_submit()">บันทึก</button>
							<button type="button" class="btn btn-danger edit-footer-btn" data-dismiss="modal" onclick="edit_cancel()">ยกเลิก</button>
							<button type="button" class="btn btn-secondary edit-footer-btn" data-dismiss="modal">ปิด (ไม่เปลี่ยนข้อมูลกลับ)</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCKxEYUtxMrevfSLSRHKUHc7gKTSKBZ-Vg",
				authDomain: "somsritshirt-ced49.firebaseapp.com",
				databaseURL: "https://somsritshirt-ced49.firebaseio.com",
				projectId: "somsritshirt-ced49",
				storageBucket: "somsritshirt-ced49.appspot.com",
				messagingSenderId: "99816736698"
			};
			firebase.initializeApp(config);
			
			var db = firebase.firestore();
			var storage = firebase.storage();
		</script>
		<script>
		
			function getParameterByName(name, url) {
				if (!url) url = window.location.href;
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}
			
			var blogdata = [{id:"",data:{topic:"",order:0,body:[]}}];
			var blogbodybak = [];
			db.collection("blog").get().then(function(querySnapshot) {
				querySnapshot.forEach(function(doc) {
					// doc.data() is never undefined for query doc snapshots
					console.log(doc.id, " => ", doc.data());
					blogdata.push({id:doc.id,data:doc.data()});
				});
				blogdata.shift();
				vm_edit.$forceUpdate();
			});
			
			var vm = new Vue({
				el: '#vue-wrap',
				data: {
					blogdata:blogdata
				},
				methods: {
					doedit: function(index) {
						vm_edit.curr = index;
						$("#editmodal").modal('show');
						blogbodybak = JSON.parse(JSON.stringify(blogdata[vm_edit.curr].data.body));
					}
				}
			});
			
			var vm_edit = new Vue({
				el: '#vue-editmodal',
				data: {
					curr: 0
				},
				methods: {
					deletesingle: function(index) {
						var curr = this.curr;
						//console.log(curr);
						blogdata[curr].data.body.splice(index,1);
					},
					moveup: function(index) {
						var curr = this.curr;
						if (index==0) return;
						
						var temp = blogdata[curr].data.body[index];
						blogdata[curr].data.body[index] = blogdata[curr].data.body[index-1];
						blogdata[curr].data.body[index-1] = temp;
						
						vm_edit.$forceUpdate();
					},
					movedown: function(index) {
						var curr = this.curr;
						if (index==blogdata[curr].data.body.length-1) return;
						
						var temp = blogdata[curr].data.body[index];
						blogdata[curr].data.body[index] = blogdata[curr].data.body[index+1];
						blogdata[curr].data.body[index+1] = temp;
						
						vm_edit.$forceUpdate();
					}
				}
			});
			
			function edit_addtext() {
				var curr = vm_edit.curr;
				blogdata[curr].data.body.push({type:0,text:""});
			}
			
			function edit_addimage() {
				var curr = vm_edit.curr;
				blogdata[curr].data.body.push({type:1,src:""});
			}
			
			function edit_cancel() {
				var curr = vm_edit.curr;
				blogdata[curr].data.body = blogbodybak;
			}
			
			function edit_submit() {
				var curr = vm_edit.curr;
				blogbodybak = JSON.parse(JSON.stringify(blogdata[vm_edit.curr].data.body));
				$("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled",true);
				
				//do images
				blogdata[curr].data.body.forEach(function(val,index) {
					if (val.type==1) {
						var imgfile = $("#edit-body-"+index)[0].files[0];
						if (imgfile) {
							//console.log(index);
							
						}
					}
				});
				
				db.collection("blog").doc(blogdata[curr].id).set(blogdata[curr].data).then(function() {
					alert("Edit Success");
					$("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled",false);
				}).catch(function(err) {
					alert("Final Step Error : "+err);
					console.log("Final Step Error");
					console.log(err);
					$("#editmodal .btn, #editmodal input, #editmodal textarea").prop("disabled",false);
				});
			}
		</script>
	</body>
</html>