.aboutbodypanel p.outerp {
    margin-bottom: 1em;
}

.aboutbodypanel p {
    margin-bottom: 14px;
    line-height: 30px;
}

.authorpart {
    margin-top: 20px;
}
#fbsharebtn {
    background-color: #3a5998;
}